@keyframes animateBubble {
    0% {
        margin-top: -1000px;
    }
    100% {
        margin-top: 200%;
    }
}


@keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

/* ANIMATIONS */

.x1 {
	animation: animateBubble 50s linear infinite, sideWays 2s ease-in-out infinite alternate;
	left: -5%;
	top: 5%;
	transform: scale(0.3);
}

.x2 {
	animation: animateBubble 100s linear infinite, sideWays 4s ease-in-out infinite alternate;
	left: 5%;
	top: 60%;
	transform: scale(0.4);
}


/* OBJECTS */

.bubble {
	border-radius: 50%;
	width: 1000px;
    height: 1000px;
	position: absolute;
}

.bubble:after {
  background:rgba(255, 255, 255, 0.3);  
	border-radius: 50%;
	content: "";
  height: 600px;
	left: 700px;
	position: absolute;
    width: 600px;
    z-index: -1;
}