/*.nav {
    position: fixed;
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 7rem;
    background-color: rgba(0,0,0,0);
    margin-top:30px
}*/

.nav img {
    width:270px;
    position: fixed;
    top: 60px;
    left: 9.2vw;
}
header, .sidemenu {
    z-index: 100;
}
.sidemenu {
    position: fixed;
    top: 220px;
    left: 16.3vw;
    height: 270px;
    width: 155px;
    font-size: 2.3rem;
    font-weight: 300;
    letter-spacing: 5px;
    line-height: 45px;
    color: white;
    background-color: #82838B;
    text-align: center
}
header, .sidemenu a{
    display: block;
    width:100%;
    color: white;
    text-decoration: none;
    position: relative;
    font-weight:260
}
.sidemenu a:hover{
    display: block;
    width:100%;
    color: #82838B;
    background:#ffffffe1;
    font-weight:370
}
#social_icon a{
    color:rgb(236, 236, 236);
    display:inline;
    text-align: left;
    margin-right:7px
}
#social_icon a:hover{
    background:#82838B;
    color:white
}

.section-0 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-top: 100px;
}

.section-0 .content {
    width: 100%;
}

.section-0 h1{
    letter-spacing: 4px;
}
#signup{
    text-decoration: none;
    width:130px;
    height: auto;
    font-size:2.2rem;
    border:2px solid white;
    border-radius: 24px;
    margin:auto;
}
#signup :hover{
    color:black;
    background:white;
    border:2px solid white;
    border-radius: 40px;    
}
#countdown{
    margin-top:20px
}
#headerwords{
    font-size:2.2rem;
    letter-spacing: 5px;
    font-weight: 300; 
    color:white;
    width:290px;
    position: fixed;
    top: 150px;
    left: 10.4vw;
}
#headerwords:hover{
  /*  background: -webkit-linear-gradient(280deg, rgba(240, 255, 243, 0.829), rgba(243, 255, 245, 0.829));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
*/}
