.side {
    display: block;
    position: fixed;
    top: 80px;
    left: 16.3vw;
    height: auto;
    width: 155px;
    font-size: 2.3rem;
    font-weight: 300;
    letter-spacing: 5px;
    line-height: 45px;
    text-align: center;
}
.sidemenu {
    position: relative;
    background-color: #82838B;
}
.nav {
    position: relative;
    top: 0px;
    right: 55px;
    width: 270px;
    height: auto;
    background-color: rgba(0,0,0,0);
}
.nav img {
    width: 270px;
}
#headerwords {
    position: relative;
    top: -20px;
    font-size: 2.2rem;
    letter-spacing: 5px;
    font-weight: 300; 
    color: white;
    width: 100%;
}
#headerwords:hover {
  /*  background: -webkit-linear-gradient(280deg, rgba(240, 255, 243, 0.829), rgba(243, 255, 245, 0.829));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
*/}
header, .sidemenu a {
    width: 100%;
    color: white;
    text-decoration: none;
    position: relative;
    font-weight: 260;
}
.sidemenu a:hover {
    display: block;
    width:100%;
    color: #82838B;
    background:#ffffffe1;
    font-weight:370;
}
#social_icon a {
    color:rgb(236, 236, 236);
    display:inline;
    text-align: left;
    margin-right:7px;
}
#social_icon a:hover {
    background:#82838B;
    color:white;
}

.section-0 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-top: 100px;
}

.section-0 .content {
    width: 100%;
}

.section-0 h1 {
    letter-spacing: 4px;
}
#countdown {
    margin-top: 20px;
    text-align: center;
}
#signup {
    color: white;
    width: 100%;
    font-size: 2.2rem;
    border: 2px solid white;
    border-radius: 24px;
}
#signup:hover {
    color: black;
    background: white;
    border: 2px solid white;
}
