.nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: #2b2b2b;
    text-align: center;
    padding-top: 20px;
}
.sidemenu {
    position: fixed;
    top: 170px;
    left: 25vw;
    height: 30vm;
    width: 155px;
    padding: 10px;
    background: #72727269;
    font-size: 2.5rem;
    letter-spacing: 5px;
    line-height: 40px;
    color: white;
}
header, .sidemenu {
    text-align: center;
}
.section-0 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-top: 150px;
}
