@import "./section-1.css";
@import "./section-2.css";
@import "./section-3.css";
@import "./header.css";
@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");

/* Start reset css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    font: inherit;
    font-family: 'Noto Sans TC', sans-serif;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Basic layout */

html {
    font-size: 62.5%;
}
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    width: 100%;
    background: #2b2b2b;
    font-family: sans-serif;
}
h1 {
    color: #20FC8F;
    font-size: 3.5rem;
    line-height: 70px;
}
p {
    font-size: 1.6rem;
    line-height: 30px;
    color: white;
}
.main {
    display: grid;
    grid-template-columns: 30% 50% 20%;
    grid-template-rows: auto;
}
.content {
    margin: 35px 0;
}

.icon {
    text-decoration: none;
}