@import "./section-1.css";
@import "./section-2.css";
@import "./section-3.css";
@import "./header.css";
@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");

/* Start reset css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    font: inherit;
    font-family: 'Noto Sans TC', sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button{
    text-decoration: none;
    border:none;
    background:none
}
/* Basic layout */

html {
    font-size: 62.5%;
}
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    width: 100%;
    background:linear-gradient( 290deg,rgb(67, 253, 228) 1%, #F067B4    100%);
}
h1 {
/*    color: #20FC8F;*/
    color:white;
    font-size: 3.4rem;
    line-height: 70px;
    font-weight:220;
}
h2 {
    color:white;
    font-size: 2.7rem;
    letter-spacing: 6px;
    line-height: 50px;
    font-weight:220;
}
p {
    font-size: 1.8rem;
    line-height: 40px;
    color: white;
    font-weight:300
}
.main {
    display: grid;
    grid-template-columns: 35.5% 52% 15%;
    grid-template-rows: auto;
    margin:-80px 0
}
.content { 
    margin: 35px 0;
}

.icon {
    text-decoration: none;
}

#js_explained{
    letter-spacing:8px
}
a,li{
    text-decoration: none;
}