.section-1 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.section-1 .content {
    width: 100%;
}
.section-1 h1 {
    text-align: left;
    letter-spacing: 4px;
}
.section-1 p {
    color: white;
}
.section-0 .content {
    width: 100%;
}