.section-2 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    font-size: 1.6rem;
}
.section-2 h1 { 
    color: #20FC8F;
    text-align: left;
}
.section-2 p {
    color: white;
}
.section-2 .inside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.section-2 .inside .content {
    width: calc(50% - 1rem);
    /* padding: 0 1rem; */
}
.icon {
    color: white;
    font-size: 2vw;
}