.section-3 {
    background-color: #2b2b2b;
    margin-left: 30vw;
    display:flex;
    flex-direction: column;
}
.section-3 h1 {
    color: #20fc8f;
    text-align: left;
}
.section-3 p { 
    color: white; 
}