.wrapper {
    width: 900px;
    margin: 150px auto;
}
.main {
    display: block;
    float: right;
    width: 660px;
}
.section-1 {
  background-color: #343536;
}  
.section-1 .content {
  height: 100%;
  width: 100%;
}
.section-1 h1 {
    color: #20fc8f;
    text-align: left;
}
.section-1 p {
    color: white;
}
